:root {
  --bg-color: #171841;
  --text-color: white;
}

@font-face {
  font-family: "Milk Script Alternate";
  src: url(./fonts/msar.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: bilo, sans-serif;
}

body {
  background: var(--bg-color);
}

header {
  display: flex;
  height: 84px;
  padding: 0 5%;
  align-items: center;
}

header img {
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 50%;
  margin-right: 24px;
}

header span {
  font-size: 18px;
}

.container {
  display: flex;
  width: 75%;
  margin: 0 auto;
  height: calc(100vh - 84px);
  padding-left: 30px;
}

#info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#info div {
  width: 410px;
}

#image {
  text-align: right;
  flex-grow: 1;
}

#image img {
  height: 100%;
  padding-top: 120px;
  filter: opacity(65%);
}

h1 {
  font-family: "Milk Script Alternate", Arial, Helvetica, sans-serif;
  font-size: 80px;
  margin-bottom: 15px;
}

h4 {
  font-weight: 200;
  font-size: 24px;
  margin-bottom: 35px;
}

h5 {
  font-weight: 400;
  font-size: 16px;
}

p {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 45px;
}

#info a {
  display: inline-block;
  width: 100%;
  border: 2px solid #00ffff;
  text-decoration: none;
  text-align: center;
  padding: 12px;
  font-size: 25px;
  font-weight: 700;
}

footer {
  position: absolute;
  border: 0.4px solid grey;
  left: 45px;
  top: 140px;
  bottom: 60px;
  width: 0;
}

footer ul {
  background: var(--bg-color);
  position: absolute;
  left: 0;
  bottom: 60px;
  list-style: none;
  transform: translateX(-50%);
  padding: 10px 0;
}

footer li a {
  display: block;
  margin: 20px 0;
}

footer li img {
  width: 45px;
  height: 45px;
}
